<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array><real>0.81</real><real>0.57</real><real>0.05</real><real>1</real></array>
	<array><real>0.00</real><real>0.54</real><real>0.02</real><real>1</real></array>
	<array><real>1.00</real><real>0.31</real><real>0.56</real><real>1</real></array>
	<array><real>0.30</real><real>0.58</real><real>1.00</real><real>1</real></array>
	<array><real>0.09</real><real>0.87</real><real>0.85</real><real>1</real></array>
	<array><real>0.61</real><real>0.87</real><real>0.10</real><real>1</real></array>
	<array><real>1.00</real><real>1.00</real><real>0.05</real><real>1</real></array>
	<array><real>0.56</real><real>0.08</real><real>0.82</real><real>1</real></array>
	<array><real>0.77</real><real>0.42</real><real>0.63</real><real>1</real></array>
	<array><real>0.73</real><real>1.00</real><real>0.98</real><real>1</real></array>
	<array><real>1.00</real><real>0.74</real><real>0.99</real><real>1</real></array>
	<array><real>1.00</real><real>0.92</real><real>0.70</real><real>1</real></array>
</array>
</plist>
