<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>graphit-viewer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C4FDC4681C5EB41900F2D3B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4FDC47E1C5EB41900F2D3B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4FDC4891C5EB41900F2D3B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
